header
{
    background-color: #11284d; 
    margin-top: -37px; 
    margin-right: -20px; 
    margin-left: -20px;
    font-family: Arial, Helvetica, sans-serif
}

body
{
    background-color: #42537e;
    font-family: Arial, Helvetica, sans-serif
}

header h1
{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif
}

main div
{
    background-color: #32456e;
    width: 550px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}


main div:hover
{   
    text-align: center; 
    border-radius: 20px;
    background-color: #21365d;
    font-size: 25px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif
}

ul
{
    list-style-type: none;
    background-color: #32456e; 
    font-family: Arial, Helvetica, sans-serif
}

table 
{
    background-color: #32456e;
}

footer section
{    
    margin-right: -20px; 
    margin-left: -20px;
    background-color: #11284d;
    margin-top: -15px;
    margin-bottom: -20px;
}

.elemento-com-transicao-opacidade {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.elemento-com-transicao-opacidade:hover {
    opacity: 0.8;
}

.imagem-com-escala {
    transition: transform 0.3s ease;
}

.imagem-com-escala:hover {
    transform: scale(1.1);
}


